<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-container">
            <h2>login here</h2>
            <div class='input-container'>
               {{form.as_p}}
               {{ form.errors }}
            </div>
            <div class="button">
                <button type="submit">login</button>
            </div>
        </div>
    </form>
</body>
</html>