
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
    height: 100vh;
    background: #0f172a;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 260px;
    background: #020617;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1e293b;
}


.new-chat-btn {
    background: #1d4ed8;
    border: none;
    padding: 12px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
    transition: 0.3s;
}

.new-chat-btn:hover {
    background: #2563eb;
}


.chat-history {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    padding: 10px;
    margin-bottom: 8px;
    background: #0f172a;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.chat-item:hover {
    background: #1e293b;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #020617;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Message base */
.message {
    max-width: 60%;
    padding: 10px 14px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
}


.message.user {
    background: #2563eb;
    margin-left: auto;
    text-align: right;
}

.message.bot {
    background: #1e293b;
    margin-right: auto;
}


.input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #1e293b;
    background: #020617;
}


.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #1e293b;
    color: white;
    margin-right: 10px;
}


.input-area button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #1d4ed8;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.input-area button:hover {
    background: #2563eb;
}


.chat-history::-webkit-scrollbar,
.chat-box::-webkit-scrollbar {
    width: 6px;
}

.chat-history::-webkit-scrollbar-thumb,
.chat-box::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}